/* ============
       DIV
	=============== */ 
#map {
	height: 600px;
	width: 600px;
	float: left;
}

#add_div {
	float: left;
	display: none;
	padding-left: 50px;
}

/* ============
       NAV
	=============== */ 
#cancelbuttonli {
	display: none;
}
#editbuttonli {
	display: none;
}
#savebuttonli {
	display: none;
}
#okbuttonli {
	display: none;
}
/* ============
       INFO
	=============== */ 

#info_div {
	display: none;
}

.input_error {
	color: red;
}